doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Verifikasi Email Berhasil
    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f5f5f5;
        padding: 20px;
      }
      .container {
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      h2 {
        color: #007BFF;
      }
      p {
        color: #333;
        font-size: 14px;
        line-height: 22px;
      }
      a.button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 20px;
        background-color: #84ceac;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
      }
  body
    div.container
      img(src='/assets/images/logo-transparent.png', width=80)
      h2 Verifikasi Email Berhasil
      p Terima kasih! Email Anda telah berhasil diverifikasi. Sekarang Anda dapat menggunakan fitur "Lupa Password" di halaman login.
      a.button(href=url) Kembali Ke Website
